body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #617A81;	
    background: #aaa;
}

img {
	text-align: center;
}

.thumb {
	    background: #aaa;
	    color: #000;	
}

.cell:hover { background-color: black;}

.tableau {
	    border:1px solid #CD853F;
	    padding: 3px;
	   }

td, th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
}



input.big {
	width: 100px;
}

input.small {
	width: 50px;
}
label {
	color: #1F60A9;
	cursor:pointer;
	cursor: hand;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style: italic;
	line-height: normal;
	text-decoration: underline;
}
select {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: normal;
}
input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: normal;
}


div#popup {
	width: 100%;
	height: 100%;
	opacity: .9;
	top: 0;
	left: 0;
	display: none;
	position: fixed;
	background-color: #313131;
	overflow: auto
}



img#close {
	position: absolute;
	right: -14;
	top: -14;
	cursor: pointer
}



div#popup_interior {
	position: absolute;
	left: 50%;
	top: 17%;
	margin-left: -202px;
	font-family: 'Raleway', sans-serif;
	max-width: 300px;
	min-width: 250px;
	padding: 10px 50px;
	border: 2px solid gray;
	border-radius: 10px;
	font-family: raleway;
	background-color: #fff
}




button {
	width: 10%;
	height: 45px;
	border-radius: 10px;
	background-color: #cd853f;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	cursor: pointer
}


button#query_close {
	width:80%;
}

#navbutton-forward { background: url('web_images/forward_64.png') no-repeat 0px 0px;}
#navbutton-forward:hover { background-position: 0px -64px; }

#navbutton-rewind { background: url('web_images/rewind_64.png') no-repeat 0px 0px;}
#navbutton-rewind:hover { background-position: 0px -64px; }

#navbutton-last { background: url('web_images/last_64.png') no-repeat 0px 0px;}
#navbutton-last:hover { background-position: 0px -64px; }

#navbutton-first { background: url('web_images/first_64.png') no-repeat 0px 0px;}
#navbutton-first:hover { background-position: 0px -64px; }

#navbutton-filter { background: url('web_images/filter_64.png') no-repeat 0px 0px;}
#navbutton-filter:hover { background-position: 0px -64px; }

a.navbutton {
	
	width: 64px;
	height: 64px;
	display: block;
	text-indent: -9999px;
}




